In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Race_data_tracker.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 47 columns):
state                                493 non-null object
Last Check                           234 non-null object
Positives_Total                      348 non-null float64
Positives_race_White                 337 non-null float64
Positives_ race_Black                337 non-null float64
Positives_race_ LatinX _Hispanic     136 non-null float64
Positives_ race_Asian                280 non-null float64
Positives_ race_AIAN                 190 non-null float64
Positives_ race_NHPI                 124 non-null float64
Positives_ race_Multiracial          123 non-null float64
Positives_race_Other                 305 non-null float64
Positives_race_Unknown               337 non-null float64
Positives_race_% Unk.                342 non-null object
Positives_ethnicity_Hispanic         259 non-null float64
Positives_ethnicity_ Non-Hispanic    259 non-null float64
Positives_ethnicity_ Unknown         245 non-null float64
Positives_ethnicity_ % Unk.          259 non-null object
Deaths_Total                         301 non-null float64
Deaths_race_White                    286 non-null float64
Deaths_race_Black                    274 non-null float64
Deaths_race_ LatinX_Hispanic         124 non-null float64
Deaths_race_Asian                    233 non-null float64
Deaths_race_AIAN                     111 non-null float64
Deaths_race_NHPI                     81 non-null float64
Deaths_race_Multiracial              83 non-null float64
Deaths_race_Other                    238 non-null float64
Deaths_race_Unknown                  280 non-null float64
Deaths_race_% Unk.                   299 non-null object
Deaths_ethnicity_Hispanic            208 non-null float64
Deaths_ethnicity_Non-Hispanic        210 non-null float64
Deaths_ethnicity_Unknown             207 non-null float64
Deaths_ethnicity_% Unk.              215 non-null object
Negatives_race_White                 19 non-null float64
Negatives_race_Black                 19 non-null float64
Negatives_race_LatinX / Hispanic     12 non-null float64
Negatives_race_Asian                 19 non-null float64
Negatives_race_AIAN                  16 non-null float64
Negatives_race_NHPI                  9 non-null float64
Negatives_race_Multiracial           2 non-null float64
Negatives_race_Other                 17 non-null float64
Negatives_race_Unknown               19 non-null float64
Negatives_race_% Unk.                19 non-null object
Negatives_ethnicity_ Hispanic        17 non-null float64
Negatives_ethnicity_Non-Hispanic     17 non-null float64
Negatives_ethnicity_Unknown          17 non-null float64
Negatives_ethnicity_% Unk.           17 non-null object
Unnamed: 46                          36 non-null object
dtypes: float64(38), object(9)
memory usage: 181.1+ KB

,state,Last Check,Positives_Total,Positives_race_White,Positives_ race_Black,Positives_race_ LatinX _Hispanic,Positives_ race_Asian,Positives_ race_AIAN,Positives_ race_NHPI,Positives_ race_Multiracial,...,Negatives_race_NHPI,Negatives_race_Multiracial,Negatives_race_Other,Negatives_race_Unknown,Negatives_race_% Unk.,Negatives_ethnicity_ Hispanic,Negatives_ethnicity_Non-Hispanic,Negatives_ethnicity_Unknown,Negatives_ethnicity_% Unk.,Unnamed: 46
0,AK,5/10/2020 22:15,379.0,238.0,9.0,NaN,45.0,24.0,13.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,5/10/2020 22:24,9889.0,4333.0,3789.0,NaN,61.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AR,5/10/2020 22:36,4012.0,1922.0,1322.0,NaN,44.0,9.0,53.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AZ,5/10/2020 22:42,11119.0,2631.0,338.0,1889.0,123.0,1278.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df = df.groupby(by='state').sum().reset_index()
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 39 columns):
state                                56 non-null object
Positives_Total                      56 non-null float64
Positives_race_White                 56 non-null float64
Positives_ race_Black                56 non-null float64
Positives_race_ LatinX _Hispanic     56 non-null float64
Positives_ race_Asian                56 non-null float64
Positives_ race_AIAN                 56 non-null float64
Positives_ race_NHPI                 56 non-null float64
Positives_ race_Multiracial          56 non-null float64
Positives_race_Other                 56 non-null float64
Positives_race_Unknown               56 non-null float64
Positives_ethnicity_Hispanic         56 non-null float64
Positives_ethnicity_ Non-Hispanic    56 non-null float64
Positives_ethnicity_ Unknown         56 non-null float64
Deaths_Total                         56 non-null float64
Deaths_race_White                    56 non-null float64
Deaths_race_Black                    56 non-null float64
Deaths_race_ LatinX_Hispanic         56 non-null float64
Deaths_race_Asian                    56 non-null float64
Deaths_race_AIAN                     56 non-null float64
Deaths_race_NHPI                     56 non-null float64
Deaths_race_Multiracial              56 non-null float64
Deaths_race_Other                    56 non-null float64
Deaths_race_Unknown                  56 non-null float64
Deaths_ethnicity_Hispanic            56 non-null float64
Deaths_ethnicity_Non-Hispanic        56 non-null float64
Deaths_ethnicity_Unknown             56 non-null float64
Negatives_race_White                 56 non-null float64
Negatives_race_Black                 56 non-null float64
Negatives_race_LatinX / Hispanic     56 non-null float64
Negatives_race_Asian                 56 non-null float64
Negatives_race_AIAN                  56 non-null float64
Negatives_race_NHPI                  56 non-null float64
Negatives_race_Multiracial           56 non-null float64
Negatives_race_Other                 56 non-null float64
Negatives_race_Unknown               56 non-null float64
Negatives_ethnicity_ Hispanic        56 non-null float64
Negatives_ethnicity_Non-Hispanic     56 non-null float64
Negatives_ethnicity_Unknown          56 non-null float64
dtypes: float64(38), object(1)
memory usage: 17.1+ KB

,state,Positives_Total,Positives_race_White,Positives_ race_Black,Positives_race_ LatinX _Hispanic,Positives_ race_Asian,Positives_ race_AIAN,Positives_ race_NHPI,Positives_ race_Multiracial,Positives_race_Other,...,Negatives_race_LatinX / Hispanic,Negatives_race_Asian,Negatives_race_AIAN,Negatives_race_NHPI,Negatives_race_Multiracial,Negatives_race_Other,Negatives_race_Unknown,Negatives_ethnicity_ Hispanic,Negatives_ethnicity_Non-Hispanic,Negatives_ethnicity_Unknown
0,AK,2390.0,1334.0,49.0,0.0,268.0,128.0,50.0,59.0,52.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AL,48752.0,22233.0,18394.0,0.0,384.0,0.0,0.0,0.0,1334.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AR,20440.0,10602.0,6225.0,232.0,241.0,26.0,98.0,84.0,619.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AZ,51376.0,13089.0,1521.0,7698.0,546.0,5679.0,128.0,0.0,825.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df.columns

Index(['Positives_Total', 'Positives_race_White ', 'Positives_ race_Black ',
       'Positives_race_ LatinX _Hispanic', 'Positives_ race_Asian',
       'Positives_ race_AIAN', 'Positives_ race_NHPI',
       'Positives_ race_Multiracial ', 'Positives_race_Other',
       'Positives_race_Unknown', 'Positives_ethnicity_Hispanic',
       'Positives_ethnicity_ Non-Hispanic', 'Positives_ethnicity_ Unknown',
       'Deaths_Total', 'Deaths_race_White ', 'Deaths_race_Black ',
       'Deaths_race_ LatinX_Hispanic', 'Deaths_race_Asian', 'Deaths_race_AIAN',
       'Deaths_race_NHPI', 'Deaths_race_Multiracial ', 'Deaths_race_Other',
       'Deaths_race_Unknown', 'Deaths_ethnicity_Hispanic',
       'Deaths_ethnicity_Non-Hispanic', 'Deaths_ethnicity_Unknown',
       'Negatives_race_White ', 'Negatives_race_Black ',
       'Negatives_race_LatinX / Hispanic', 'Negatives_race_Asian',
       'Negatives_race_AIAN', 'Negatives_race_NHPI',
       'Negatives_race_Multiracial ', 'Negatives_race_Other',
       'Negatives_race_Unknown', 'Negatives_ethnicity_ Hispanic',
       'Negatives_ethnicity_Non-Hispanic', 'Negatives_ethnicity_Unknown'],
      dtype='object')

In [14]:
df.sort_values(by='Positives_ race_Black ')
black = df[['state', 'Positives_ race_Black ', 'Deaths_race_Black ']]
black

   state  Positives_ race_Black   Deaths_race_Black
0     AK                    49.0                 0.0
1     AL                 18394.0               723.0
2     AR                  6225.0               119.0
3     AS                     0.0                 0.0
4     AZ                  1521.0                69.0
5     CA                 13890.0              1226.0
6     CO                  6752.0               309.0
7     CT                 19824.0              1983.0
8     DC                 14047.0              1022.0
9     DE                  5652.0               169.0
10    FL                 29544.0               363.0
11    GA                 68656.0              4103.0
12    GU                     0.0                 0.0
13    HI                    29.0                 0.0
14    IA                  6713.0                30.0
15    ID                    47.0                 4.0
16    IL                 88445.0              6319.0
17    IN                 21456.0               776.0
18    KS                  3347.0               270.0
19    KY                  3878.0               623.0
20    LA                     0.0              7374.0
21    MA                 33205.0              1280.0
22    MD                 60818.0              3110.0
23    ME                   228.0                 0.0
24    MI                107483.0             11537.0
25    MN                  6354.0               119.0
26    MO                 19010.0               755.0
27    MP                     0.0                 0.0
28    MS                 27027.0              1173.0
29    MT                    16.0                 0.0
30    NC                 22701.0               903.0
31    ND                     0.0                 0.0
32    NE                     0.0                 0.0
33    NH                   489.0                 0.0
34    NJ                     0.0              7930.0
35    NM                   686.0                 0.0
36    NV                     0.0                 0.0
37    NY                     0.0             20104.0
38    OH                 33160.0              1087.0
39    OK                  1395.0               111.0
40    OR                   379.0                10.0
41    PA                 29245.0              1544.0
42    PR                     0.0                 0.0
43    RI                  6479.0                96.0
44    SC                 17376.0               661.0
45    SD                  1771.0                 0.0
46    TN                 17885.0               430.0
47    TX                  8004.0               305.0
48    UT                   687.0                 0.0
49    VA                 21711.0               756.0
50    VI                     0.0                 0.0
51    VT                   102.0                 0.0
52    WA                  5120.0               177.0
53    WI                 12695.0               821.0
54    WV                   532.0                 1.0
55    WY                    31.0                 0.0

In [15]:
black['mortality_rate'] = black['Deaths_race_Black ']/black['Positives_ race_Black ']
black

C:\Users\kmuss\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   state  Positives_ race_Black   Deaths_race_Black   mortality_rate
0     AK                    49.0                 0.0        0.000000
1     AL                 18394.0               723.0        0.039306
2     AR                  6225.0               119.0        0.019116
3     AS                     0.0                 0.0             NaN
4     AZ                  1521.0                69.0        0.045365
5     CA                 13890.0              1226.0        0.088265
6     CO                  6752.0               309.0        0.045764
7     CT                 19824.0              1983.0        0.100030
8     DC                 14047.0              1022.0        0.072756
9     DE                  5652.0               169.0        0.029901
10    FL                 29544.0               363.0        0.012287
11    GA                 68656.0              4103.0        0.059762
12    GU                     0.0                 0.0             NaN
13    HI                    29.0                 0.0        0.000000
14    IA                  6713.0                30.0        0.004469
15    ID                    47.0                 4.0        0.085106
16    IL                 88445.0              6319.0        0.071446
17    IN                 21456.0               776.0        0.036167
18    KS                  3347.0               270.0        0.080669
19    KY                  3878.0               623.0        0.160650
20    LA                     0.0              7374.0             inf
21    MA                 33205.0              1280.0        0.038548
22    MD                 60818.0              3110.0        0.051136
23    ME                   228.0                 0.0        0.000000
24    MI                107483.0             11537.0        0.107338
25    MN                  6354.0               119.0        0.018728
26    MO                 19010.0               755.0        0.039716
27    MP                     0.0                 0.0             NaN
28    MS                 27027.0              1173.0        0.043401
29    MT                    16.0                 0.0        0.000000
30    NC                 22701.0               903.0        0.039778
31    ND                     0.0                 0.0             NaN
32    NE                     0.0                 0.0             NaN
33    NH                   489.0                 0.0        0.000000
34    NJ                     0.0              7930.0             inf
35    NM                   686.0                 0.0        0.000000
36    NV                     0.0                 0.0             NaN
37    NY                     0.0             20104.0             inf
38    OH                 33160.0              1087.0        0.032780
39    OK                  1395.0               111.0        0.079570
40    OR                   379.0                10.0        0.026385
41    PA                 29245.0              1544.0        0.052795
42    PR                     0.0                 0.0             NaN
43    RI                  6479.0                96.0        0.014817
44    SC                 17376.0               661.0        0.038041
45    SD                  1771.0                 0.0        0.000000
46    TN                 17885.0               430.0        0.024042
47    TX                  8004.0               305.0        0.038106
48    UT                   687.0                 0.0        0.000000
49    VA                 21711.0               756.0        0.034821
50    VI                     0.0                 0.0             NaN
51    VT                   102.0                 0.0        0.000000
52    WA                  5120.0               177.0        0.034570
53    WI                 12695.0               821.0        0.064671
54    WV                   532.0                 1.0        0.001880
55    WY                    31.0                 0.0        0.000000

In [16]:
black.dropna()

   state  Positives_ race_Black   Deaths_race_Black   mortality_rate
0     AK                    49.0                 0.0        0.000000
1     AL                 18394.0               723.0        0.039306
2     AR                  6225.0               119.0        0.019116
4     AZ                  1521.0                69.0        0.045365
5     CA                 13890.0              1226.0        0.088265
6     CO                  6752.0               309.0        0.045764
7     CT                 19824.0              1983.0        0.100030
8     DC                 14047.0              1022.0        0.072756
9     DE                  5652.0               169.0        0.029901
10    FL                 29544.0               363.0        0.012287
11    GA                 68656.0              4103.0        0.059762
13    HI                    29.0                 0.0        0.000000
14    IA                  6713.0                30.0        0.004469
15    ID                    47.0                 4.0        0.085106
16    IL                 88445.0              6319.0        0.071446
17    IN                 21456.0               776.0        0.036167
18    KS                  3347.0               270.0        0.080669
19    KY                  3878.0               623.0        0.160650
20    LA                     0.0              7374.0             inf
21    MA                 33205.0              1280.0        0.038548
22    MD                 60818.0              3110.0        0.051136
23    ME                   228.0                 0.0        0.000000
24    MI                107483.0             11537.0        0.107338
25    MN                  6354.0               119.0        0.018728
26    MO                 19010.0               755.0        0.039716
28    MS                 27027.0              1173.0        0.043401
29    MT                    16.0                 0.0        0.000000
30    NC                 22701.0               903.0        0.039778
33    NH                   489.0                 0.0        0.000000
34    NJ                     0.0              7930.0             inf
35    NM                   686.0                 0.0        0.000000
37    NY                     0.0             20104.0             inf
38    OH                 33160.0              1087.0        0.032780
39    OK                  1395.0               111.0        0.079570
40    OR                   379.0                10.0        0.026385
41    PA                 29245.0              1544.0        0.052795
43    RI                  6479.0                96.0        0.014817
44    SC                 17376.0               661.0        0.038041
45    SD                  1771.0                 0.0        0.000000
46    TN                 17885.0               430.0        0.024042
47    TX                  8004.0               305.0        0.038106
48    UT                   687.0                 0.0        0.000000
49    VA                 21711.0               756.0        0.034821
51    VT                   102.0                 0.0        0.000000
52    WA                  5120.0               177.0        0.034570
53    WI                 12695.0               821.0        0.064671
54    WV                   532.0                 1.0        0.001880
55    WY                    31.0                 0.0        0.000000