In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Race_data_tracker.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 47 columns):
state                                493 non-null object
Last Check                           234 non-null object
Positives_Total                      348 non-null float64
Positives_race_White                 337 non-null float64
Positives_ race_Black                337 non-null float64
Positives_race_ LatinX _Hispanic     136 non-null float64
Positives_ race_Asian                280 non-null float64
Positives_ race_AIAN                 190 non-null float64
Positives_ race_NHPI                 124 non-null float64
Positives_ race_Multiracial          123 non-null float64
Positives_race_Other                 305 non-null float64
Positives_race_Unknown               337 non-null float64
Positives_race_% Unk.                342 non-null object
Positives_ethnicity_Hispanic         259 non-null float64
Positives_ethnicity_ Non-Hispanic    259 non-null float64
Positives_ethnicity_ Unknown         245 non-null float64
Positives_ethnicity_ % Unk.          259 non-null object
Deaths_Total                         301 non-null float64
Deaths_race_White                    286 non-null float64
Deaths_race_Black                    274 non-null float64
Deaths_race_ LatinX_Hispanic         124 non-null float64
Deaths_race_Asian                    233 non-null float64
Deaths_race_AIAN                     111 non-null float64
Deaths_race_NHPI                     81 non-null float64
Deaths_race_Multiracial              83 non-null float64
Deaths_race_Other                    238 non-null float64
Deaths_race_Unknown                  280 non-null float64
Deaths_race_% Unk.                   299 non-null object
Deaths_ethnicity_Hispanic            208 non-null float64
Deaths_ethnicity_Non-Hispanic        210 non-null float64
Deaths_ethnicity_Unknown             207 non-null float64
Deaths_ethnicity_% Unk.              215 non-null object
Negatives_race_White                 19 non-null float64
Negatives_race_Black                 19 non-null float64
Negatives_race_LatinX / Hispanic     12 non-null float64
Negatives_race_Asian                 19 non-null float64
Negatives_race_AIAN                  16 non-null float64
Negatives_race_NHPI                  9 non-null float64
Negatives_race_Multiracial           2 non-null float64
Negatives_race_Other                 17 non-null float64
Negatives_race_Unknown               19 non-null float64
Negatives_race_% Unk.                19 non-null object
Negatives_ethnicity_ Hispanic        17 non-null float64
Negatives_ethnicity_Non-Hispanic     17 non-null float64
Negatives_ethnicity_Unknown          17 non-null float64
Negatives_ethnicity_% Unk.           17 non-null object
Unnamed: 46                          36 non-null object
dtypes: float64(38), object(9)
memory usage: 181.1+ KB

,state,Last Check,Positives_Total,Positives_race_White,Positives_ race_Black,Positives_race_ LatinX _Hispanic,Positives_ race_Asian,Positives_ race_AIAN,Positives_ race_NHPI,Positives_ race_Multiracial,...,Negatives_race_NHPI,Negatives_race_Multiracial,Negatives_race_Other,Negatives_race_Unknown,Negatives_race_% Unk.,Negatives_ethnicity_ Hispanic,Negatives_ethnicity_Non-Hispanic,Negatives_ethnicity_Unknown,Negatives_ethnicity_% Unk.,Unnamed: 46
0,AK,5/10/2020 22:15,379.0,238.0,9.0,NaN,45.0,24.0,13.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,5/10/2020 22:24,9889.0,4333.0,3789.0,NaN,61.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AR,5/10/2020 22:36,4012.0,1922.0,1322.0,NaN,44.0,9.0,53.0,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AZ,5/10/2020 22:42,11119.0,2631.0,338.0,1889.0,123.0,1278.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df.groupby(by='state').sum().reset_index()
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 39 columns):
state                                56 non-null object
Positives_Total                      56 non-null float64
Positives_race_White                 56 non-null float64
Positives_ race_Black                56 non-null float64
Positives_race_ LatinX _Hispanic     56 non-null float64
Positives_ race_Asian                56 non-null float64
Positives_ race_AIAN                 56 non-null float64
Positives_ race_NHPI                 56 non-null float64
Positives_ race_Multiracial          56 non-null float64
Positives_race_Other                 56 non-null float64
Positives_race_Unknown               56 non-null float64
Positives_ethnicity_Hispanic         56 non-null float64
Positives_ethnicity_ Non-Hispanic    56 non-null float64
Positives_ethnicity_ Unknown         56 non-null float64
Deaths_Total                         56 non-null float64
Deaths_race_White                    56 non-null float64
Deaths_race_Black                    56 non-null float64
Deaths_race_ LatinX_Hispanic         56 non-null float64
Deaths_race_Asian                    56 non-null float64
Deaths_race_AIAN                     56 non-null float64
Deaths_race_NHPI                     56 non-null float64
Deaths_race_Multiracial              56 non-null float64
Deaths_race_Other                    56 non-null float64
Deaths_race_Unknown                  56 non-null float64
Deaths_ethnicity_Hispanic            56 non-null float64
Deaths_ethnicity_Non-Hispanic        56 non-null float64
Deaths_ethnicity_Unknown             56 non-null float64
Negatives_race_White                 56 non-null float64
Negatives_race_Black                 56 non-null float64
Negatives_race_LatinX / Hispanic     56 non-null float64
Negatives_race_Asian                 56 non-null float64
Negatives_race_AIAN                  56 non-null float64
Negatives_race_NHPI                  56 non-null float64
Negatives_race_Multiracial           56 non-null float64
Negatives_race_Other                 56 non-null float64
Negatives_race_Unknown               56 non-null float64
Negatives_ethnicity_ Hispanic        56 non-null float64
Negatives_ethnicity_Non-Hispanic     56 non-null float64
Negatives_ethnicity_Unknown          56 non-null float64
dtypes: float64(38), object(1)
memory usage: 17.1+ KB

,state,Positives_Total,Positives_race_White,Positives_ race_Black,Positives_race_ LatinX _Hispanic,Positives_ race_Asian,Positives_ race_AIAN,Positives_ race_NHPI,Positives_ race_Multiracial,Positives_race_Other,...,Negatives_race_LatinX / Hispanic,Negatives_race_Asian,Negatives_race_AIAN,Negatives_race_NHPI,Negatives_race_Multiracial,Negatives_race_Other,Negatives_race_Unknown,Negatives_ethnicity_ Hispanic,Negatives_ethnicity_Non-Hispanic,Negatives_ethnicity_Unknown
0,AK,2390.0,1334.0,49.0,0.0,268.0,128.0,50.0,59.0,52.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AL,48752.0,22233.0,18394.0,0.0,384.0,0.0,0.0,0.0,1334.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AR,20440.0,10602.0,6225.0,232.0,241.0,26.0,98.0,84.0,619.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AZ,51376.0,13089.0,1521.0,7698.0,546.0,5679.0,128.0,0.0,825.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.columns

Index(['state', 'Positives_Total', 'Positives_race_White ',
       'Positives_ race_Black ', 'Positives_race_ LatinX _Hispanic',
       'Positives_ race_Asian', 'Positives_ race_AIAN', 'Positives_ race_NHPI',
       'Positives_ race_Multiracial ', 'Positives_race_Other',
       'Positives_race_Unknown', 'Positives_ethnicity_Hispanic',
       'Positives_ethnicity_ Non-Hispanic', 'Positives_ethnicity_ Unknown',
       'Deaths_Total', 'Deaths_race_White ', 'Deaths_race_Black ',
       'Deaths_race_ LatinX_Hispanic', 'Deaths_race_Asian', 'Deaths_race_AIAN',
       'Deaths_race_NHPI', 'Deaths_race_Multiracial ', 'Deaths_race_Other',
       'Deaths_race_Unknown', 'Deaths_ethnicity_Hispanic',
       'Deaths_ethnicity_Non-Hispanic', 'Deaths_ethnicity_Unknown',
       'Negatives_race_White ', 'Negatives_race_Black ',
       'Negatives_race_LatinX / Hispanic', 'Negatives_race_Asian',
       'Negatives_race_AIAN', 'Negatives_race_NHPI',
       'Negatives_race_Multiracial ', 'Negatives_race_Other',
       'Negatives_race_Unknown', 'Negatives_ethnicity_ Hispanic',
       'Negatives_ethnicity_Non-Hispanic', 'Negatives_ethnicity_Unknown'],
      dtype='object')

In [5]:
df.sort_values(by='Positives_ race_Black ')
black = df[['state', 'Positives_Total','Positives_ race_Black ', 'Deaths_race_Black ']]
black.head()

  state  Positives_Total  Positives_ race_Black   Deaths_race_Black
0    AK           2390.0                    49.0                 0.0
1    AL          48752.0                 18394.0               723.0
2    AR          20440.0                  6225.0               119.0
3    AS              0.0                     0.0                 0.0
4    AZ          51376.0                  1521.0                69.0

In [6]:
black.dropna()
black = black[black['Positives_ race_Black '] > 0]
black

   state  Positives_Total  Positives_ race_Black   Deaths_race_Black
0     AK           2390.0                    49.0                 0.0
1     AL          48752.0                 18394.0               723.0
2     AR          20440.0                  6225.0               119.0
4     AZ          51376.0                  1521.0                69.0
5     CA         319537.0                 13890.0              1226.0
6     CO          93443.0                  6752.0               309.0
7     CT         177399.0                 19824.0              1983.0
8     DC          29305.0                 14047.0              1022.0
9     DE          20344.0                  5652.0               169.0
10    FL         165461.0                 29544.0               363.0
11    GA         218200.0                 68656.0              4103.0
13    HI           3693.0                    29.0                 0.0
14    IA          52829.0                  6713.0                30.0
15    ID           4502.0                    47.0                 4.0
16    IL         412640.0                 88445.0              6319.0
17    IN         138652.0                 21456.0               776.0
18    KS          28720.0                  3347.0               270.0
19    KY          36700.0                  3878.0               623.0
21    MA         469522.0                 33205.0              1280.0
22    MD         171530.0                 60818.0              3110.0
23    ME           4944.0                   228.0                 0.0
24    MI         333288.0                107483.0             11537.0
25    MN          43480.0                  6354.0               119.0
26    MO          62601.0                 19010.0               755.0
28    MS          53263.0                 27027.0              1173.0
29    MT           3931.0                    16.0                 0.0
30    NC          81320.0                 22701.0               903.0
33    NH          11779.0                   489.0                 0.0
35    NM          24402.0                   686.0                 0.0
38    OH         138951.0                 33160.0              1087.0
39    OK          22382.0                  1395.0               111.0
40    OR          15944.0                   379.0                10.0
41    PA         278938.0                 29245.0              1544.0
43    RI          51930.0                  6479.0                96.0
44    SC          45124.0                 17376.0               661.0
45    SD           8927.0                  1771.0                 0.0
46    TN          88502.0                 17885.0               430.0
47    TX         184370.0                  8004.0               305.0
48    UT          29774.0                   687.0                 0.0
49    VA         121272.0                 21711.0               756.0
51    VT           5268.0                   102.0                 0.0
52    WA         121050.0                  5120.0               177.0
53    WI          55768.0                 12695.0               821.0
54    WV           6958.0                   532.0                 1.0
55    WY           2435.0                    31.0                 0.0

In [25]:
black['mortality_rate'] = (black['Deaths_race_Black ']/black['Positives_ race_Black ']*100).round(2)
black['%positives_black'] = (black['Positives_ race_Black ']/black['Positives_Total']*100).round(2)
black.head()

,state,Positives_Total,Positives_ race_Black,Deaths_race_Black,mortality_rate,%positives_black
0,AK,2390.0,49.0,0.0,0.00,2.05
1,AL,48752.0,18394.0,723.0,3.93,37.73
2,AR,20440.0,6225.0,119.0,1.91,30.45
4,AZ,51376.0,1521.0,69.0,4.54,2.96
5,CA,319537.0,13890.0,1226.0,8.83,4.35

In [26]:
columns = black.columns

In [28]:
black.columns

Index(['state', 'Positives_Total', 'Positives_ race_Black ',
       'Deaths_race_Black ', 'mortality_rate', '%positives_black'],
      dtype='object')

In [33]:
black.sort_values(by='%positives_black',ascending=False,inplace=True)
black

,state,Positives_Total,Positives_ race_Black,Deaths_race_Black,mortality_rate,%positives_black
28,MS,53263.0,27027.0,1173.0,4.34,50.74
8,DC,29305.0,14047.0,1022.0,7.28,47.93
44,SC,45124.0,17376.0,661.0,3.80,38.51
1,AL,48752.0,18394.0,723.0,3.93,37.73
22,MD,171530.0,60818.0,3110.0,5.11,35.46
24,MI,333288.0,107483.0,11537.0,10.73,32.25
11,GA,218200.0,68656.0,4103.0,5.98,31.46
2,AR,20440.0,6225.0,119.0,1.91,30.45
26,MO,62601.0,19010.0,755.0,3.97,30.37
30,NC,81320.0,22701.0,903.0,3.98,27.92
9,DE,20344.0,5652.0,169.0,2.99,27.78
38,OH,138951.0,33160.0,1087.0,3.28,23.86
53,WI,55768.0,12695.0,821.0,6.47,22.76
16,IL,412640.0,88445.0,6319.0,7.14,21.43
46,TN,88502.0,17885.0,430.0,2.40,20.21
45,SD,8927.0,1771.0,0.0,0.00,19.84
49,VA,121272.0,21711.0,756.0,3.48,17.90
10,FL,165461.0,29544.0,363.0,1.23,17.86
17,IN,138652.0,21456.0,776.0,3.62,15.47
25,MN,43480.0,6354.0,119.0,1.87,14.61
14,IA,52829.0,6713.0,30.0,0.45,12.71
43,RI,51930.0,6479.0,96.0,1.48,12.48
18,KS,28720.0,3347.0,270.0,8.07,11.65
7,CT,177399.0,19824.0,1983.0,10.00,11.17
19,KY,36700.0,3878.0,623.0,16.06,10.57
41,PA,278938.0,29245.0,1544.0,5.28,10.48
54,WV,6958.0,532.0,1.0,0.19,7.65
6,CO,93443.0,6752.0,309.0,4.58,7.23
21,MA,469522.0,33205.0,1280.0,3.85,7.07
39,OK,22382.0,1395.0,111.0,7.96,6.23
23,ME,4944.0,228.0,0.0,0.00,4.61
5,CA,319537.0,13890.0,1226.0,8.83,4.35
47,TX,184370.0,8004.0,305.0,3.81,4.34
52,WA,121050.0,5120.0,177.0,3.46,4.23
33,NH,11779.0,489.0,0.0,0.00,4.15
4,AZ,51376.0,1521.0,69.0,4.54,2.96
35,NM,24402.0,686.0,0.0,0.00,2.81
40,OR,15944.0,379.0,10.0,2.64,2.38
48,UT,29774.0,687.0,0.0,0.00,2.31
0,AK,2390.0,49.0,0.0,0.00,2.05
51,VT,5268.0,102.0,0.0,0.00,1.94
55,WY,2435.0,31.0,0.0,0.00,1.27
15,ID,4502.0,47.0,4.0,8.51,1.04
13,HI,3693.0,29.0,0.0,0.00,0.79
29,MT,3931.0,16.0,0.0,0.00,0.41